#navigation-bar {
    background-color: #212529;
    padding-top: 10px;
    height: 60px;
}
.container-fluid {
    padding-top: 9px;
}
.navbar-brand {
    color: white;
}
.nav-item {
    margin-left: 5%;
    margin-right: 5%;
}


#classes-groups {
    word-wrap: break-word;
}
#my-classes {
    background-color: #e5e5e5;
    padding-left: 3%;
}
#add-class-button {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
}
.class-buttons {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 18px;
}
.btn-block {
    width: 80%;
    margin-bottom: 10px;
}

